ergast_py-1.1.0/
ergast_py-1.1.0
# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
venv311
.venv311

# IDE specific files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# SQLite database files
*.sqlite3
*.db

# Logs
*.log

# Byte-compiled files
*.pyc
*.pyo
venv311/
